{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <!--근태코드 필드-->
            <nz-form-item class="form-item">
                <nz-form-label nzFor="dutyCode" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">근태코드</nz-form-label>
                <nz-form-control nzHasFeedback [nzXs]="formControlXs" [nzSm]="formControlSm" [nzErrorTip]="errorTpl">
                    <input nz-input id="dutyCode" formControlName="dutyCode" placeholder="근태코드를 입력해주세요.">
                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                          필수 입력 값입니다.
                      </ng-container>
                      <ng-container *ngIf="control.hasError('exists')">
                          기존 코드가 존재합니다.
                      </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <!-- 근태코드명 필드-->
            <nz-form-item class="form-item">
                <nz-form-label nzFor="dutyName" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">근태코드명</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" [nzErrorTip]="errorTpl">
                    <input nz-input id="dutyName" formControlName="dutyName" placeholder="근태코드명을 입력해주세요.">
                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                          필수 입력 값입니다.
                      </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <!-- 근태그룹 필드-->
            <nz-form-item class="form-item">
                <nz-form-label nzFor="dutyGroup" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">근태그룹</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" [nzErrorTip]="errorTpl">
                    <input nz-input id="dutyGroup" formControlName="dutyGroup" placeholder="근태그룹을 입력해주세요.">
                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                          필수 입력 값입니다.
                      </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <!--사용여부 필드-->
            <nz-form-item>
                <nz-form-label
                    nzFor="enabled"
                    [nzXs]="formLabelXs"
                    [nzSm]="formLabelSm">
                    사용여부
                </nz-form-label>

                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <label id="enabled" nz-checkbox formControlName="enabled"></label>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <!-- 근태그룹 필드-->
        <nz-form-item class="form-item">
            <nz-form-label nzFor="comment" [nzXs]="formLabelXs" [nzSm]="formLabelSm">비고</nz-form-label>
            <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                <input nz-input id="comment" formControlName="comment" placeholder="비고내용을 입력해주세요.">
            </nz-form-control>
        </nz-form-item>
      </div>
    </div>

</form>

<div class="footer">
        <button
        nz-button
        (click)="getForm(fg.get('dutyCode').value)">
        <i nz-icon nzType="search" nzTheme="outline"></i>
        조회
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        (click)="closeForm()">
        <i nz-icon nzType="form" theme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="primary"
        nz-popconfirm
        nzTitle="저장하시겠습니까?"
        (nzOnConfirm)="submitForm()"
        (nzOnCancel)="false">
        <i nz-icon nzType="save" theme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="danger"
        nz-popconfirm
        nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteForm(fg.get('dutyCode').value)"
        (nzOnCancel)="false">
        <i nz-icon nzType="delete" theme="outline"></i>
        삭제
    </button>

</div>

