<nz-page-header (nzBack)="goBack()" nzBackIcon nzTitle="공통코드 등록" nzSubtitle="This is a subtitle"> </nz-page-header>

<!--조회 조건-->
<div nz-row class="btn-group">  
  <div nz-col [nzSpan]="12">
    <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
      <input type="text" style="ime-mode:normal;" [(ngModel)]="queryValue" nz-input placeholder="input search text">
    </nz-input-group>          
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div nz-col [nzSpan]="12" style="text-align: right;">    
    <button nz-button (click)="getCommonCodeTree()">
      <i nz-icon nzType="search"></i>
      조회
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button (click)="newForm()">
      <i nz-icon nzType="form" theme="outline"></i>
      신규
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" 
      nz-popconfirm nzTitle="저장하시겠습니까?" 
      (nzOnConfirm)="saveCommonCode()" (nzOnCancel)="false">
      <i nz-icon nzType="save" theme="outline"></i>
      저장
    </button> 
    <nz-divider nzType="vertical"></nz-divider>          
    <button nz-button nzType="danger" 
      nz-popconfirm nzTitle="삭제하시겠습니까?" 
      (nzOnConfirm)="deleteCommonCode()" (nzOnCancel)="false">
      <i nz-icon nzType="delete" theme="outline"></i>
      삭제
    </button>    
  </div>
</div>
      
<h3 class="pgm-title">공통코드 목록</h3>
<div class="grid-wrapper">  
  <app-common-code-tree
    #commonCodeTree
    id="commonCodeTree"
    [searchValue]="queryValue"
    (itemSelected)="selectedItem($event)">              
  </app-common-code-tree>

  <app-common-code-form
    id="commonCodeForm"
    #commonCodeForm
    (formSaved)="getCommonCodeTree()"
    (formDeleted)="getCommonCodeTree()">
  </app-common-code-form>
</div>
      
<!--<app-common-code-grid
    id="commonCodeGrid"        
    #commonCodeGrid
    (rowSelected)="selectedItem($event)"
    (editButtonClicked)="editDrawerOpen($event)"
    (rowDoubleClicked)="editDrawerOpen($event)">
</app-common-code-grid>-->
