<div nz-row>
  <div nz-col [nzXs]="12" [nzSm]="12">
    
  </div>
  <div nz-col style="text-align: right" [nzXs]="12" [nzSm]="12">
    <button nz-button (click)="getBoardTree()">
      <i nz-icon nzType="search" theme="outline"></i>
      조회
    </button>
    <button nz-button (click)="newBoard()">
      <i nz-icon nzType="form" theme="outline"></i>
      게시판 등록
    </button>
    <button nz-button (click)="newArticle()">
      <i nz-icon nzType="form" theme="outline"></i>
      게시글 등록
    </button>
  </div>
</div>


<div class="tree">
  <h3 class="pgm-title">게시판 목록</h3>
  <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
    <input type="text" style="ime-mode:normal;" [(ngModel)]="queryValue" nz-input placeholder="input search text">
  </nz-input-group>          
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <app-board-tree id="boardTree" #boardTree
    [searchValue]="queryValue"
    (itemSelected)="setBoardSelect($event)"
    (itemDbClicked)="modifyBoard($event)">
  </app-board-tree>
</div>

<nz-tabset>
  <nz-tab [nzTitle]="tabTitle">
    <div id="grid-wrapper" class="grid">
      <app-article-grid id="articleGrid" #articleGrid 
        (rowDoubleClicked)="validEditable($event)">
      </app-article-grid>
    </div>
  </nz-tab>
</nz-tabset>  


<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="720"
    [nzVisible]="drawerVisible"
    nzTitle="게시판 등록"
    (nzOnClose)="closeDrawer()">
    <app-board-form id="boardForm" #boardForm
        (formSaved)="getBoardTree()"
        (formDeleted)="getBoardTree()"
        (formClosed)="closeDrawer()">
    </app-board-form>
</nz-drawer>

<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="720"
    [nzVisible]="articleDrawerVisible"
    nzTitle="게시글 등록"
    (nzOnClose)="closeArticleDrawer()">
    <app-article-form id="articleForm" #articleForm
        (formSaved)="getArticleGridData()"
        (formDeleted)="getArticleGridData()"
        (formClosed)="closeArticleDrawer()">
    </app-article-form>
</nz-drawer>

<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="800"
    [nzVisible]="articleViewDrawerVisible"
    nzTitle="게시글 조회"
    (nzOnClose)="closeArticleViewDrawer()">
    <app-article-view [article]="selectedArticle">

    </app-article-view>
</nz-drawer>

