{{form.getRawValue() | json}}
<div class="footer">
    <!--
    <button nz-button (click)="getWorkGroupSchedule(form.get('id').value)">        
        조회
    </button>
    -->
    <button nz-button (click)="closeForm()">
        <i nz-icon nzType="close" theme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="primary" (click)="saveWorkGroupSchedule()">
        <i nz-icon nzType="save" theme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="danger" nz-popconfirm nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteWorkGroupSchedule(form.get('id').value)" (nzOnCancel)="false">
        <i nz-icon nzType="delete" theme="outline"></i>
        삭제
    </button>    
</div>

<form nz-form [formGroup]="form" nzLayout="vertical">
    <!--
    <nz-form-item>
        <nz-form-label nzFor="workGroupId" [nzXs]="formLabelXs" [nzSm]="formLabelSm">작업그룹 Id</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <input nz-input id="workGroupId" formControlName="workGroupId" placeholder="작업그룹 Id를 입력해주세요.">                         
        </nz-form-control>        
    </nz-form-item>
    -->

    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <!--작업그룹ID 필드-->
            <nz-form-item>
                <nz-form-label nzFor="workGroupId" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">작업그룹 ID</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <nz-select
                        id="workGroupId"
                        formControlName="workGroupId"
                        nzShowSearch="true"                
                        [nzSize]="'default'"
                        nzPlaceHolder="Please select">
                        <nz-option
                            *ngFor="let item of workGroupList"
                            [nzLabel]="item.name"
                            [nzValue]="item.id">
                        </nz-option>
                    </nz-select>             
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <!--스케쥴ID 필드-->
            <nz-form-item>
                <nz-form-label nzFor="id" [nzXs]="formLabelXs" [nzSm]="formLabelSm">스케쥴 Id</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <input nz-input id="id" formControlName="id">
                </nz-form-control>        
            </nz-form-item>
        </div>

    </div>
    
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="22">
            <!--시작일 필드-->
            <nz-form-item class="form-item">
                <nz-form-label nzFor="start" [nzXs]="formLabelXs" [nzSm]="formLabelSm">기간</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <nz-date-picker formControlName="start" nzFormat="yyyy-MM-dd" style="width: 130px"></nz-date-picker>
                    <nz-time-picker formControlName="start" style="width: 105px"></nz-time-picker> ~
                    <nz-date-picker formControlName="end" nzFormat="yyyy-MM-dd" style="width: 130px"></nz-date-picker> 
                    <nz-time-picker formControlName="end" style="width: 105px"></nz-time-picker>           
                </nz-form-control>
            </nz-form-item>            
        </div>
        <div nz-col nzSpan="2">
            <!--하루종일 필드-->
            <nz-form-item>
                <nz-form-label 
                    nzFor="allDay"    
                    [nzXs]="formLabelXs"
                    [nzSm]="formLabelSm">하루종일
                </nz-form-label>

                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <label id="allDay" nz-checkbox formControlName="allDay"></label>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>                    

    <!--제목 필드-->
    <nz-form-item>
        <nz-form-label nzFor="title" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">제목</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <textarea nz-input id="title" formControlName="title" placeholder="제목을 입력해주세요." [nzAutosize]="{ minRows: 10, maxRows: 20 }"></textarea>
            <!--
            <nz-form-explain *ngIf="isFieldErrors(form,'title','required')">The input is Required!</nz-form-explain>
            -->
        </nz-form-control>        
    </nz-form-item>

</form>
