{{fg.value | json}}
{{this.formType}}
<form nz-form [formGroup]="fg" nzLayout="vertical">

    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <!--메뉴그룹코드 필드-->
            <nz-form-item>
                <nz-form-label nzFor="menuGroupCode" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">메뉴그룹코드c</nz-form-label>
                <nz-form-control nzHasFeedback [nzXs]="formControlXs" [nzSm]="fromControlSm" [nzErrorTip]="errorTpl">
                    <input nz-input id="menuGroupCode" formControlName="menuGroupCode" placeholder="메뉴그룹코드를 입력해주세요.">
                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                          필수 입력 값입니다.
                      </ng-container>
                      <ng-container *ngIf="control.hasError('exists')">
                          기존 코드가 존재합니다.
                      </ng-container>
                  </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <!--메뉴그룹명 필드-->
            <nz-form-item>
                <nz-form-label nzFor="menuGroupName" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">메뉴그룹명</nz-form-label>
                <nz-form-control nzHasFeedback [nzXs]="formControlXs" [nzSm]="fromControlSm" [nzErrorTip]="errorTpl">
                    <input nz-input id="menuGroupName" formControlName="menuGroupName" placeholder="메뉴그룹명을 입력해주세요.">
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            필수 입력 값입니다.
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!--비고 필드-->
    <nz-form-item>
        <nz-form-label nzFor="description" [nzXs]="formLabelXs" [nzSm]="formLabelSm">비고</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="fromControlSm">
            <textarea nz-input id="description" formControlName="description" placeholder="비고를 입력해주세요." [nzAutosize]="{ minRows: 10, maxRows: 20 }"></textarea>
        </nz-form-control>
    </nz-form-item>

</form>

<div class="footer">
    <button
        nz-button
        (click)="closeForm()">
        <i nz-icon nzType="form" theme="outline"></i>
        닫기
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="primary"
        nz-popconfirm
        nzTitle="저장하시겠습니까?"
        (nzOnConfirm)="submitMenuGroup()"
        (nzOnCancel)="false">
        <i nz-icon nzType="save" theme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="danger"
        nz-popconfirm
        nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteMenuGroup()"
        (nzOnCancel)="false">
        <i nz-icon nzType="delete" theme="outline"></i>
        삭제
    </button>
</div>
