<div nz-row class="btn-group">    
    <div nz-col [nzSpan]="12">
        <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="suffixIconSearch">
            <input type="text" [(ngModel)]="queryValue" nz-input placeholder="input search text" (keyup.enter)="getTeamList()">
        </nz-input-group>
        <ng-template #addOnBeforeTemplate>
            <nz-select [(ngModel)]="queryKey">
                <nz-option [nzLabel]="'팀 Id'" [nzValue]="'teamId'"></nz-option>                
                <nz-option [nzLabel]="'팀명'" [nzValue]="'teamName'"></nz-option>
            </nz-select>
            </ng-template>
        <ng-template #suffixIconSearch>
            <i nz-icon type="search"></i>
        </ng-template>
    </div>

    <div nz-col [nzSpan]="12" style="text-align: right;">
        <button 
            nz-button         
            (click)="getTeamList()">
            <i nz-icon type="search" theme="outline"></i>
            조회
        </button>        
        <nz-divider nzType="vertical"></nz-divider>  
        <button 
            nz-button         
            (click)="initForm()">
            <i nz-icon type="form" theme="outline"></i>
            신규
        </button>
        <nz-divider nzType="vertical"></nz-divider>          
        <button 
            nz-button 
            nzType="danger" 
            nz-popconfirm 
            nzTitle="삭제하시겠습니까?" 
            (nzOnConfirm)="deleteTeam()" 
            (nzOnCancel)="false">
            <i nz-icon type="delete" theme="outline"></i>
            삭제
        </button>    
    </div>
</div>

<h3>팀 목록</h3>

<div class="grid-wrapper">
    <app-team-grid 
        id="teamGrid"                     
        #teamGrid                           
        (rowSelected)="selectedItem($event)"
        (editButtonClicked)="editDrawOpen($event)"
        (rowDoubleClicked)="editDrawOpen($event)">
    </app-team-grid>
</div>


<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="720"
    [nzVisible]="drawerVisible"
    nzTitle="팀 등록"
    (nzOnClose)="closeDrawer()">
    <app-team-form 
        id="teamForm"
        #teamForm
        (formSaved)="getTeamList()"
        (formDeleted)="getTeamList()"
        (formClosed)="closeDrawer()">
    </app-team-form>
</nz-drawer>
