<!--{{fg.getRawValue() | json}}-->
<!--{{formModel | json}}-->
<!--{{fileList | json}}-->
<form nz-form [formGroup]="fg" nzLayout="vertical">        

    <div nz-row nzGutter="8">
        <div nz-col nzSpan="2">
            <div class="img">
                <nz-avatar class="avatar" [nzShape]="'square'" [nzSize]='96' [nzSrc]="imageUrl"></nz-avatar>    
            </div>
        </div>
        <div nz-col nzSpan="2">
            <!--아이디 필드-->
            <nz-form-item>
                <nz-form-label nzFor="id" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">
                    아이디
                </nz-form-label>
                <nz-form-control nzHasFeedback [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <input nz-input id="id" formControlName="id" placeholder="아이디를 입력해주세요.">
                    <!--
                    <nz-form-explain *ngIf="isFieldErrors(fg,'id','required')">The input is Required!</nz-form-explain>                  
                    -->
                </nz-form-control>        
            </nz-form-item>           
        </div>

        <div nz-col nzSpan="2">
            <!--이름 필드-->
            <nz-form-item>
                <nz-form-label 
                    nzFor="name" 
                    nzRequired
                    [nzXs]="formLabelXs"
                    [nzSm]="formLabelSm">
                    이름
                </nz-form-label>

                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" nzHasFeedback>
                    <input id="name" nz-input formControlName="name" style="IME-MODE: disabled">
                    <!--
                    <nz-form-explain *ngIf="isFieldErrors(fg,'name','required')">The input is Required!</nz-form-explain>
                    -->
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="2">
            <!--이름(영문) 필드-->
            <nz-form-item>
                <nz-form-label 
                    nzFor="nameEng"             
                    [nzXs]="formLabelXs" [nzSm]="formLabelSm">
                    이름(영문)
                </nz-form-label>

                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" nzHasFeedback>
                    <input id="nameEng" nz-input formControlName="nameEng" style="IME-MODE: inactive">
                    <!--
                    <nz-form-explain *ngIf="isFieldErrors(fg,'nameEng','required')">The input is Required!</nz-form-explain>
                    -->
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="2">
            <!--이름(한문) 필드-->                    
            <nz-form-item>
                <nz-form-label 
                    nzFor="nameChi"             
                    [nzXs]="formLabelXs" [nzSm]="formLabelSm">
                    이름(한문)
                </nz-form-label>

                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" nzHasFeedback>
                    <input id="nameChi" nz-input formControlName="nameChi" style="IME-MODE: inactive">
                    <!--
                    <nz-form-explain *ngIf="isFieldErrors(fg,'nameChi','required')">The input is Required!</nz-form-explain>
                    -->
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="3">
            <!--성별 필드-->
            <nz-form-item>
                <nz-form-label 
                    nzFor="gender"             
                    [nzXs]="formLabelXs" [nzSm]="formLabelSm">
                    성별
                </nz-form-label>
                <nz-radio-group id="gender" formControlName="gender">
                    <label nz-radio nzValue="M">Male</label>
                    <label nz-radio nzValue="F">Female</label>        
                </nz-radio-group>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzGutter="8">
        <div nz-col nzSpan="2">
            <nz-upload 
                nzAction="http://localhost:8090/hrm/employee/changeimage"
                nzWithCredentials="true"    
                (nzChange)="handleChange($event)"        
                [nzShowUploadList]="false"    
                [nzData]="imageUploadParam">
                <button nz-button nzType="default" nzShape="round"><i nz-icon nzType="upload"></i></button>
            </nz-upload>
            <button nz-button nzType="default" nzShape="round" (click)="downloadImage($event)"><i nz-icon nzType="download"></i></button>
        </div>
        
        <div nz-col nzSpan="4" nzOffset="2">
            <!--주민등록번호 필드-->
            <nz-form-item>
                <nz-form-label 
                    nzFor="residentRegistrationNumber" 
                    nzRequired
                    [nzXs]="formLabelXs" [nzSm]="formLabelSm">
                    주민등록번호
                </nz-form-label>
        
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm" nzHasFeedback>
                    <input style="ime-mode: inactive" id="residentRegistrationNumber" nz-input formControlName="residentRegistrationNumber">
                    <!--
                    <nz-form-explain *ngIf="isFieldErrors(fg,'residentRegistrationNumber','required')">The input is Required!</nz-form-explain>
                    -->
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="4">
            <!--생년월일 필드-->            
            <nz-form-item class="form-item">
                <nz-form-label nzFor="birthday" [nzXs]="formLabelXs" [nzSm]="formLabelSm">생년월일</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <nz-date-picker id="birthday" formControlName="birthday" nzFormat="yyyy-MM-dd" style="width: 130px"></nz-date-picker>            
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
                                
</form>

<nz-tabset style="height: 500px;">
    <nz-tab nzTitle="부서변경이력" style="height: 500px;">
        <app-dept-change-history-grid [gridList]="formModel.deptChangeHistory"></app-dept-change-history-grid>                
    </nz-tab>    
    <nz-tab nzTitle="인사변경이력" style="height: 500px;">
        <ng-template nz-tab>
        <app-job-change-history-grid [gridList]="formModel.jobChangeHistory"></app-job-change-history-grid>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="근무상태변경이력" style="height: 500px;">
        <ng-template nz-tab>
        <app-status-change-history-grid [gridList]="formModel.statusChangeHistory"></app-status-change-history-grid>
        </ng-template>
    </nz-tab>
</nz-tabset>

<div class="footer">
    <button
    nz-button
    (click)="getForm(fg.get('id').value)">
    <i nz-icon nzType="search" nzTheme="outline"></i>        
    조회
</button>    
<nz-divider nzType="vertical"></nz-divider>
    <button
    nz-button
    (click)="closeForm()">
    <i nz-icon nzType="close" theme="outline"></i>
    닫기
</button>
<nz-divider nzType="vertical"></nz-divider>
<button
    nz-button
    nzType="primary"
    nz-popconfirm
    nzTitle="신규 직원을 등록하시겠습니까?"
    (nzOnConfirm)="newEmployee()"
    (nzOnCancel)="false">
    <i nz-icon nzType="save" theme="outline"></i>
    신규직원등록
</button>
<nz-divider nzType="vertical"></nz-divider>
<button
    nz-button
    nzType="primary"
    nz-popconfirm
    nzTitle="저장하시겠습니까?"
    (nzOnConfirm)="submitForm()"
    (nzOnCancel)="false">
    <i nz-icon nzType="save" theme="outline"></i>
    저장
</button>
<nz-divider nzType="vertical"></nz-divider>
<button
    nz-button
    nzType="danger"
    nz-popconfirm
    nzTitle="삭제하시겠습니까?"
    (nzOnConfirm)="deleteForm(this.fg.get('id').value)"
    (nzOnCancel)="false">
    <i nz-icon nzType="delete" theme="outline"></i>
    삭제
</button>
</div>