.grid-wrapper {    
    height: calc(100% - 1px);    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr;    
}

.left-side {
    overflow-y: auto; 
    overflow-x: hidden;    
    max-height: 100%;
}

.main-content {        
    max-height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;    
}