<nz-layout>

  <nz-sider
    class="sidebar"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzCollapsedWidth]="0"
    [nzWidth]="200"
    [nzTrigger]="triggerTemplate">

    <div class="logo">Connect</div>

    <nz-select
      class="sidemenugroup"
      nzShowSearch
      [(ngModel)]="selectedValue"
      (ngModelChange)="selectMenuGroup($event)">
          <nz-option
            *ngFor="let menuGroup of menuGroupList"
            [nzValue]="menuGroup.menuGroupCode"
            [nzLabel]="menuGroup.menuGroupName">
          </nz-option>
    </nz-select>

    <!-- 메뉴를 트리로 구현 -->
    <!--<nz-tree
      #treeCom
      [nzData]="menuItems"
      (nzClick)="selectMenu($event)">
    </nz-tree>   -->

    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="height: 100%">
      <ul *ngFor="let level1 of menuItems">
        <li nz-menu-item *ngIf="level1.menuType == 'ITEM'" (click)="selectMenuItem(level1.url)">
            {{level1.title}}
        </li>

        <li nz-submenu *ngIf="level1.menuType == 'SUBMENU'">
          <span title>{{level1.title}}</span>
          <ul *ngFor="let level2 of level1.children">

              <li nz-menu-item *ngIf="level2.menuType == 'ITEM'" (click)="selectMenuItem(level2.url)">
                  <span title>{{level2.title}}</span>
              </li>
              <li nz-submenu *ngIf="level2.menuType == 'SUBMENU'">
                  <span title>{{level2.title}}</span>
                  <ul *ngFor="let level3 of level2.children">
                    <li nz-menu-item *ngIf="level3.menuType == 'ITEM'" (click)="selectMenuItem(level3.url)">
                      {{level3.title}}
                    </li>
                  </ul>
              </li>
              <li nz-menu-group *ngIf="level2.menuType == 'GROUP'">
                <span title>{{level2.title}}</span>
              </li>

            </ul>
        </li>

        <li nz-menu-group *ngIf="level1.menuType == 'GROUP'">
          <span title>{{level1.title}}</span>
        </li>
      </ul>
    </ul>

  </nz-sider>

  <nz-layout>    
    <nz-header class="header">
      <i nz-icon [nzType]="isCollapsed?'menu-unfold':'menu-fold'"
         class="collapse-icon"
         (click)="isCollapsed=!isCollapsed">
      </i>      
      
      <nz-avatar class="avatar" [nzShape]="'square'" [nzSize]='48' [nzSrc]="avartarImgSrc" (click)="imageClick($event)"></nz-avatar>      
    </nz-header>

    <nz-content class="main-content">
      <router-outlet></router-outlet>        
    </nz-content>
    
    <!--<nz-footer class="footer">Ant Design ©2017 Implement By Angular- {{message}}</nz-footer>-->
    <div class="footer">{{message}}
    </div>
  </nz-layout>

</nz-layout>

