<nz-page-header (nzBack)="goBack()" nzBackIcon nzTitle="인사 연관코드 등록" nzSubtitle="This is a subtitle"> </nz-page-header>

<div nz-row class="btn-group">

    <div nz-col [nzSpan]="16">
          <nz-input-group nzSearch [nzAddOnBefore]="addOnBeforeTemplate" [nzSuffix]="suffixIconSearch">
            <input type="text" [(ngModel)]="queryValue" nz-input placeholder="input search text" (keyup.enter)="refreshGridHrmType()">
          </nz-input-group>
          <ng-template #addOnBeforeTemplate>
              <nz-select [(ngModel)]="queryKey">
                <nz-option [nzLabel]="'발령번호'" [nzValue]="'ledgerId'"></nz-option>
                <nz-option [nzLabel]="'메뉴그룹명'" [nzValue]="'menuGroupName'"></nz-option>          
              </nz-select>
            </ng-template>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>              
    
      
        <div nz-col [nzSpan]="8" style="text-align: right;">
          <button nz-button (click)="newHrmTypeForm()">
            <i nz-icon nzType="search"></i>
            연관코드등록
          </button>
          <nz-divider nzType="vertical"></nz-divider>                
      
          <button nz-button (click)="refreshGridHrmType()">
            <i nz-icon nzType="form"></i>
            조회
          </button>
          <nz-divider nzType="vertical"></nz-divider>
    </div>

</div>

<div class="content">
    <h3 class="pgm-title">인사 연관코드 목록</h3>  
    <app-hrm-relation-code-grid #gridCode         
        (rowDoubleClicked)="editHrmType($event)"
        (editButtonClicked)="editHrmType($event)">  
    </app-hrm-relation-code-grid>

</div>


<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
    [nzMaskClosable]="true"
    [nzWidth]="800"
    [nzVisible]="drawerVisible"
    nzTitle="연관코드 등록"
    (nzOnClose)="closeDrawerHrmType()">
    
    <app-hrm-relation-code-form #formCode
      (formSaved)="refreshGridHrmType()"
      (formDeleted)="refreshGridHrmType()"
      (formClosed)="closeDrawerHrmType()">  
    </app-hrm-relation-code-form> 
</nz-drawer>





