{{fg.value | json}}
<form nz-form [formGroup]="fg" nzLayout="vertical">    

    <!--식별자 필드-->
    <!--
    <nz-form-item class="form-item">
        <nz-form-label nzFor="code_id" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">식별자</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <input nz-input id="code_id" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    -->

    <!--인사유형 식별자 필드-->
    <nz-form-item class="form-item">
      <nz-form-label nzFor="code_typeId" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">인사유형 식별자</nz-form-label>
      <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
          <input nz-input id="code_typeId" formControlName="typeId">
      </nz-form-control>
    </nz-form-item>

    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <!--인사유형상세코드 필드-->
            <nz-form-item class="form-item" >
                <nz-form-label nzFor="code_code" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">인사유형상세코드</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <input nz-input id="code_code" formControlName="code" placeholder="인사유형상세코드를 입력해주세요.">            
                </nz-form-control>
            </nz-form-item>    
        </div>

        <div nz-col nzSpan="12">
            <!--인사유형상세코드명 필드-->
            <nz-form-item class="form-item">
                <nz-form-label nzFor="code_codeName" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">인사유형상세코드명</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <input nz-input id="code_codeName" formControlName="codeName" placeholder="인사유형상세코드명을 입력해주세요.">            
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>        
    
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <!--사용여부 필드-->
            <nz-form-item>
                <nz-form-label 
                    nzFor="useYn"    
                    [nzXs]="formLabelXs"
                    [nzSm]="formLabelSm">사용여부
                </nz-form-label>

                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <label id="useYn" nz-checkbox formControlName="useYn"></label>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
            <!--출력순번 필드-->
            <nz-form-item class="form-item">
                <nz-form-label nzFor="code_sequence" nzRequired [nzXs]="formLabelXs" [nzSm]="formLabelSm">출력 순번</nz-form-label>
                <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
                    <nz-input-number id="code_sequence" formControlName="sequence" [nzMin]="0" [nzMax]="9999" [nzStep]="1"></nz-input-number>                        
                </nz-form-control>
            </nz-form-item>            
        </div>
    </div>
    
    <!--설명 필드-->
    <nz-form-item>
        <nz-form-label nzFor="code_comment" [nzXs]="formLabelXs" [nzSm]="formLabelSm">설명</nz-form-label>
        <nz-form-control [nzXs]="formControlXs" [nzSm]="formControlSm">
            <textarea nz-input id="code_comment" formControlName="comment" placeholder="비고를 입력해주세요." [nzAutosize]="{ minRows: 6, maxRows: 6 }"></textarea>
        </nz-form-control>
    </nz-form-item>

</form>

<div class="footer">
        <button
        nz-button
        (click)="getHrmTypeDetailCode(fg.get('id').value)">
        <i nz-icon nzType="search" nzTheme="outline"></i>        
        조회
    </button>    
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        (click)="closeForm()">
        <i nz-icon nzType="form" theme="outline"></i>
        닫기
    </button>    
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="primary"
        nz-popconfirm
        nzTitle="저장하시겠습니까?"
        (nzOnConfirm)="submitForm()"
        (nzOnCancel)="false">
        <i nz-icon nzType="save" theme="outline"></i>
        저장
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <button
        nz-button
        nzType="danger"
        nz-popconfirm
        nzTitle="삭제하시겠습니까?"
        (nzOnConfirm)="deleteHrmTypeDetailCode()"
        (nzOnCancel)="false">
        <i nz-icon nzType="delete" theme="outline"></i>
        삭제
    </button>

</div>

