<form nz-form [nzLayout]="'inline'" [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-user">
        <input formControlName="userName" nz-input placeholder="Username">
      </nz-input-group>
      <!--<nz-form-explain *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').errors">Please input your username!</nz-form-explain>-->
      <ng-template #userNameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required') && control.dirty">Please input your username!</ng-container>      
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-lock">
        <input formControlName="password" nz-input type="password" placeholder="Password">
      </nz-input-group>
      <!--<nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">Please input your Password!</nz-form-explain>-->
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required') && control.dirty">Please input your Password!</ng-container>      
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!loginForm.valid">Log in</button>
    </nz-form-control>
  </nz-form-item>
</form>
